
/* Indicator container */
td._wwg_goals_ind
{
	padding-left:					8px;
	vertical-align:					middle;
}

/* Cloud caption */
td._wwg_goals_cap
{
	font-size:						18px;
	font-weight:					bold;
}
td._wwg_goals_cnt
{
	padding-bottom:					4px;
	max-width:						320px;
	min-width:						320px;
	width:							320px;
}

div._wwg_goals_w0,div._wwg_goals_w1,div._wwg_goals_w2,div._wwg_goals_w3,div._wwg_goals_w4
{
	border:							1px solid #ffffff;
	margin:							0px;
	margin-top:						4px;
	margin-right:					4px;
	padding:						1px;
	padding-left:					4px;
	padding-right:					4px;
	cursor:							pointer;
	color:							#222233;
	border-radius:					2px;
	-moz-border-radius:				2px;
	font-size:						12px;
}
div._wwg_goals_w0
{
	background-color:				#f7f7f7;
	border-color:					#f7f7f7;
}
div._wwg_goals_w1
{
	background-color:				#e7e7e7;
	border-color:					#e7e7e7;
}
div._wwg_goals_w2
{
	background-color:				#d7d7d7;
	border-color:					#d7d7d7;
}
div._wwg_goals_w3
{
	background-color:				#c7c7c7;
	border-color:					#c7c7c7;
}
div._wwg_goals_w4
{
	background-color:				#b7b7b7;
	border-color:					#afafaf;
}