/* Decoration of list items created by custom list cell manager */

/* Stylesheet for color indicator of priority */
div._stuff_pty_ind
{
	border:							1px solid #b5b5b5;
	width:							52px;
	height:							2px;
	font-size:						1px;	/* MSIE hack */
}
div._stuff_pty_ind div
{
	height:							2px;
}
div._stuff_pty_ind_1
{
	border-color:					#555753;
}
div._stuff_pty_ind_1 div
{
	background-color:				#555753;
}
div._stuff_pty_ind_2
{
	border-color:					#3465a4;
}
div._stuff_pty_ind_2 div
{
	background-color:				#3465a4;
}
div._stuff_pty_ind_3
{
	border-color:					#ce5c00;
}
div._stuff_pty_ind_3 div
{
	background-color:				#ce5c00;
}
div._stuff_pty_ind_4
{
	border-color:					#cc0000;
}
div._stuff_pty_ind_4 div
{
	background-color:				#cc0000;
}
span.sysDataLink,a.sysDataLink
{
	cursor:				pointer;
	color:				#003387;
	text-decoration:	underline;
}

/* Decorations of list items */
td.stuffListToday
{
	/*font-weight:					bold;*/
	background-color:				#f3f3f3;
	/*background-color:				#ffffe7;*/
	/*color:							#ce5c00;*/
}
td.stuffListToday span.stuffComposedItemText
{
/*	font-weight:					normal;*/
}
td.stuffListToday span.stuffComposedItemTitle
{
	/*font-weight:					bold;*/
	/*color:							#ce5c00;*/
}
/*td.stuffListToday div._stuff_list_ico_done
{
	background:						url(./doneToday.png) no-repeat center center;
}*/
/*td.stuffListToday div._stuff_list_ico_2m
{
	background:						url(./list_ico_2m.png) no-repeat center center;
}*/
td.stuffListTooLate
{
	color:							#878787;
	text-decoration:				line-through;
	font-style:						italic;
}
/* Icons for manipulating list items */
div._stuff_list_ico_done,div._stuff_list_ico_2m
{
	background:						url(./_list_ico_done_off.gif) no-repeat center center;
	height:							16px;
	width:							16px;
	min-height:						16px;
	min-width:						16px;
	cursor:							pointer;
}
div._stuff_list_ico_done:hover
{
	background:						url(./_list_ico_done_on.gif) no-repeat center center;
}
div._stuff_list_ico_2m
{
	background:						url(./_list_ico_2m_off.gif) no-repeat center center;
}
div._stuff_list_ico_2m:hover
{
	background:						url(./_list_ico_2m_on.gif) no-repeat center center;
}

/*div.stuffList2mDone
{
	_padding-left:					4px;
	color:							#003387;
	height:							16px;
	width:							100%;
	min-height:						16px;
	min-width:						16px;
	cursor:							pointer;
	white-space:					nowrap;
}

div.stuffList2mDone:hover
{
	text-decoration:				underline;
}*/

/*div.stuffCtxCloud
{
	margin-top:						4px;
	overflow:						auto;
}

div.stuffCtxCloud div._tsch,*/
div._stuff_cpe_hist_ctxs div._tsch
{
	margin-right:					2px;
	margin-bottom:					2px;
}
/*
td.stuffCtxPrompt
{
	vertical-align:					top;
	padding-top:					4px;
}*/

/* Information about no contexts available in the forms */
div.stuffNoContexts
{
	/*padding-top:					2px;*/
	color:							#666666;
}

/* Priority indicator in the form  */
td._stuff_cpe_pty
{
	vertical-align:					middle;
}
/*
div#boxStatusSchedule,div#boxStatusInbox,div#boxStatusNa,div#boxStatusWf,div#boxStatusSd,div#boxStatusAr,div#boxStatusProjects
{
	min-width:							9px;
	min-height:							13px;
	font-size:						11px;
	border-style:					solid;
	border-width:					1px;
	border-left-width:				3px;
	border-right-width:				3px;
	text-align:						center;
	float:							right;
}*/

div.boxStatusColor0
{
	background-color:				#b5b5b5;
	border-color:					#b5b5b5;
	color:							#000000;
}

div.boxStatusColor1
{
	background-color:				#555753;
	border-color:					#555753;
	color:							#ffffff;
}

div.boxStatusColor2
{
	background-color:				#3465a4;
	border-color:					#3465a4;
	color:							#ffffff;
}

div.boxStatusColor3
{
	background-color:				#ce5c00;
	border-color:					#ce5c00;
	color:							#ffffff;
}

div.boxStatusColor4
{
	background-color:				#cc0000;
	border-color:					#cc0000;
	color:							#ffffff;
}

div.boxStatusColor99
{
	background-color:				#b5b5b5;
	border-color:					#b5b5b5;
	color:							#000000;
}

/* Buttons in Advanced search form */
td.stuffAsBt
{
	/*padding-right:					8px;*/
	border-right:					16px transparent;
}

td.stuffAsTreeHeader/*,td.stuffAsTreeContent*/
{
	padding:						12px;
	padding-bottom:					4px;
	padding-top:					16px;
	/*background-color:				#ddf7ff;*/
}
/*td.stuffAsTreeContent
{
	padding-top:					0px;
	padding-bottom:					0px;
}*/
td.stuffAsTreeHeaderItem
{
	/*padding-bottom:					2px;
	border-bottom:					1px solid #000000;*/
}
td.stuffAsTreeHeaderItemCount
{
	padding-right:					8px;
	font-size:						14px;
	font-weight:					bold;
}
td.stuffAsTreeFirstRow
{
	/*border-top:						1px solid #ffffff;*/
}

/* Container for date & time presets in stuff editor form */
td#stuffEdtTPresets,td#stuffEdtDPresets
{
	vertical-align:					middle;
}

/* Main area of 3months calendar*/
/*td.stuffEdtCal
{
	border-left:					1px solid #89abcd;
	border-right:					1px solid #89abcd;
	background-color:				#e7e7e7;
}*/

td._stuff_cpe_cal_cap,td._stuff_cpe_cal_cap_last
{
	/*color:							#333333;*/
	font-weight:					bold;
	/*font-size:						14px;*/
	text-align:						center;
	/*background-color:				#e7e7e7;*/
	padding-bottom:					4px;
	padding-top:					8px;
	/*font-weight:					bold;*/
}
td._stuff_cpe_cal_cap
{
	padding-left:					16px;
}
td._stuff_cpe_cal_cap_last
{
	padding-right:					16px;
}

td._stuff_cpe_cal_m,td._stuff_cpe_cal_m_last
{
	padding-left:					16px;
	padding-bottom:					8px;

}
td._stuff_cpe_cal_m_last
{
	padding-right:					16px;
}

td._stuff_cpe_cal_d,td._stuff_cpe_cal_d_name
{
	background-color:				#ffffff;
	padding:						5px;
	padding-top:					2px;
	padding-bottom:					2px;
	text-align:						right;
	min-width:						12px;
	min-height:						12px;
	width:							12px;
	height:							12px;
	vertical-align:					middle;
}
td._stuff_cpe_cal_d_name
{
	color:							#333333;
	/*font-weight:					bold;*/
	padding-top:					4px;
}

td._stuff_cpe_cal_d div
{
	float:							right;
}

div._stuff_cpe_cal_hd
{
	color:							#878700;
}

/*td.stuffEdtCalMonthLt,td.stuffEdtCalMonthRt,td.stuffEdtCalMonthLb,td.stuffEdtCalMonthRb
{*/
	/*height:							8px;
	width:							8px;*/
/*background:						url(./khakimonth.gif) no-repeat left top;
}
td.stuffEdtCalMonthRt
{
	background:						url(./khakimonth.gif) no-repeat right top;
}
td.stuffEdtCalMonthLb
{
	background:						url(./khakimonth.gif) no-repeat left bottom;
}
td.stuffEdtCalMonthRb
{
	background:						url(./khakimonth.gif) no-repeat right bottom;
}

td.stuffEdtCalLt,td.stuffEdtCalRt,td.stuffEdtCalLb,td.stuffEdtCalRb
{
	width:							8px;
	height:							8px;
	background:						url(./khakical.gif) no-repeat left top;
}
td.stuffEdtCalRt
{
	background:						url(./khakical.gif) no-repeat right top;
}
td.stuffEdtCalLb
{
	background:						url(./khakical.gif) no-repeat left bottom;
}
td.stuffEdtCalRb
{
	background:						url(./khakical.gif) no-repeat right bottom;
}
td.stuffEdtCalL
{
	background-color:				#e7e7e7;
	border-bottom:					1px solid #89abcd;
	font-size:						1px;
	height:							7px;
}
td.stuffEdtCalMenu
{
	height:							32px;
	vertical-align:					middle;
	background-color:				#e7e7e7;
	border-top:						1px solid #89abcd;
}
div#stuffEdtCal
{
	z-index:						100;
	position:						absolute;
	visibility:						hidden;*/
	/*top:							-5px;*/
/*}*/
div._stuff_cpe_cal_td
{
	font-weight:					bold;
	color:							#000000;
}



/* Background of history record */
td._stuff_cpe_hist_cont,td._stuff_cpe_hist_hl
{
	background-color:				#ffffff;
}
/* Container of history content */
td._stuff_cpe_hist_hl
{
	border-bottom:					1px solid #e5e5e5;
	padding-bottom:					8px;
}
div._stuff_cpe_hist_cont,div._stuff_cpe_hist_2nd
{
	padding:						4px;
	padding-left:					12px;
	padding-right:					12px;
	clear:							both;
	float:							none;
}
div._stuff_cpe_hist_cont
{
	padding-top:					12px;
	padding-bottom:					12px;
}
/* Second row of record data */
div._stuff_cpe_hist_2nd
{
	padding-top:					24px;
}
/* Container of priority inficator */
td._stuff_cpe_hist_pty
{
	min-width:						52px;
	width:							52px;
	padding-top:					2px;
}
div._stuff_cpe_hist_cap
{
	font-weight:					bold;
	font-size:						18px;
	margin-top:						0px;
	padding-top:					0px;
}
/* Container for record's contexts */
div._stuff_cpe_hist_ctxs
{
	margin-top:						2px;
	clear:							left;
}
td._stuff_cpe_vspacer
{
	height:							4px;
}
div._stuff_cpe_hist_desc,div._stuff_cpe_hist_sys
{
	margin-top:						8px;
	white-space:					normal;
	line-height:					130%;
	clear:							both;
}
div._stuff_cpe_hist_desc
{
	/*color:							#333333;*/
}
td._stuff_cpe_hist_box
{
	font-weight:					bold;
	font-style:						italic;
}
/* Style for subtask field in project's list of subtasks */
td.stuffSubtaskBox
{
	font-style:						italic;
	vertical-align:					middle;
	padding-right:					8px;
	text-align:						right;
	width:							1%;
	white-space:					nowrap;
}
div._stuff_cpe_hist_2nd td
{
	vertical-align:					middle;
	white-space:					nowrap;
}
td._stuff_cpe_hist_2nd_item,td._stuff_cpe_hist_2nd_rec
{
	font-size:						12px;
	margin:							0px;
	padding:						0px;
	padding-left:					8px;
	padding-right:					8px;
	background-color:				#e5e5e5;
	color:							#000000;
	border-right:					1px solid #ffffff;
}
td._stuff_cpe_hist_2nd_rec
{
	color:							#555555;
	background-color:				#f3f3f3;
}
td.stuffPrjSec,td.stuffPrjSecLast
{
	padding-bottom:					0px;
	background-color:				#ffffff;
}
td.stuffPrjSec
{
	padding-bottom:					12px;
}
div._stuff_cpe_prj
{
	min-height:							16px;
	padding-top:					8px;
	padding-bottom:					8px;
	padding-right:					12px;
	padding-left:					12px;
}
/*td._stuff_cpe_prj_name,div._stuff_cpe_prj_name
{
	vertical-align:					middle;
	height:							16px;	*/	/* should be same as height of UICMP icon buttons (e.g. _uicmp_gi_close)*/
/*}*/
div._stuff_cpe_prj_noprj
{
	padding-top:					2px;		/* should be same as padding-top of UICMP icon buttons (e.g. _uicmp_gi_close)*/
}
div._stuff_cpe_prj_bt
{
	margin-left:					16px;
}
/* Project Picker widget*/
div#stuffEdtPrjPicker
{
	position:						absolute;
	z-index:						199;
	left:							-1000px;
	top:							-100px;
	visibility:						hidden;
}
td.stuffPrjPickerOffset
{
	padding-left:					12px;
}
td.stuffPrjPickerBg
{
	background-color:				#ffffff;
}
td.stuffPrjPickerBlah
{
	padding-bottom:					16px;
}
div#frmEdtPrjEmpty,div#frmEdtPrjDetails
{
	clear:							both;
}
div#frmEdtPrjDetails
{
	visibility:						hidden;
	display:						none;
}
div#txtFrmEdtRemovePrj
{
	visibility:						hidden;
}
div._stuff_cpe_prj_details
{
	clear:							both;
	margin-top:						4px;
}
td.stuffFrmEdtSubtask
{
	padding-top:					2px;
	padding-bottom:					2px;
	padding-right:					16px;
	padding-left:					0px;
	/*border-top:					1px solid #e7e7e7;*/
	height:							18px;
	vertical-align:					middle;
}
div.stuffPrjIcon
{
	padding-left:					18px;
	min-height:						16px;
	background:						url(./_list_ico_prj.gif) no-repeat left top;
}

/* Table holding form for search in All stuff */
table._stuff_search_all
{
	width:					100%;
}

/* Above prompts in search All form */
td._stuff_search_all_prompt
{
	padding-top:			6px;
	padding-left:			2px;
	padding-bottom:			2px;
}